<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение товаров</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="wrapper-personal">
    <div class="personal">
        {MENU}
        <div class="personal-content">
            <h2>Товары</h2>
            <table class="products">
                <tr>
                    <td>удалить</td>
                    <td>фото</td>
                    <td>цена</td>
                    <td>название</td>
                    <td>доступность</td>
                    <td>изменение</td>
                </tr>
                {CONTENT}
            </table>

        </div>
    </div>
</div>

</body>
</html>