<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница регистрации</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper-small">
    <h2>Форма регистрации</h2>
    <form method="post" action="?page=registration&action=toRegister">
        <input name="nickName" type="text" placeholder="прозвище на сайте">
        <input name="email" type="email" placeholder="адрес электронной почты">
        <input name="password" type="password" placeholder="пароль">
        <input type="submit" value="Зарегистрироваться">
    </form>
    <a href="?page=authentication">уже зарегистрирован?</a>
</div>

</body>
</html>