<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="wrapper">
    {MENU}
    <h2>Калькулятор</h2>
    <div class="calculator" id="calculator">
        <form id="calcForm">
            <input type="text" name="calculate" id="expression" placeholder="{RESULT}">
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>/</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>*</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>-</div>
            <div>0</div>
            <div>.</div>
            <div>=</div>
            <div>+</div>
        </form>
    </div>
</div>

<script src="js/calculator.js"></script>
</body>
</html>