<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
   
    <div class="wrapper-personal">
        <div class="personal">
            <ul class="personal-menu">
                <li><a href="#">мои заказы</a></li>
                <li><a href="#">калькулятор</a></li>
            </ul>
            <div class="personal-content">
                {CONTENT}
            </div>
        </div>
    </div>
    
</body>

</html>
