<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить продукт</title>
    <link rel="stylesheet" href="../public_html/css/style.css">
</head>
<body>

<div class="wrapper">
    {MENU}
    <h3>Добавление товара</h3>

    <form class="addProduct" enctype="multipart/form-data" method="post">
        <input name="title" type="text" placeholder="название товара">
        <input name="userfile" type="file">
        <input name="price" type="text" placeholder="цена товара">


        <input type="submit" value="Добавить товар" >
    </form>

    <div>{CONTENT}</div>

</div>

</body>
</html>